<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>index</title>
  </head>
  <body class="m-2">
    <h1>Example page header <span>Subtext for header</span></h1>
    <p><a class="btn btn-primary" href="/post">发表留言</a></p>
    <ul class="list list-group">
      {{ each comments }}
      <li class="list-group-item d-flex justify-content-between">
        <span>{{ $value.name }}：{{ $value.message }}</span>
        <span class="pull-right">{{ $value.dateTime }}</span>
      </li>
      {{ /each }}
    </ul>
    <img src="../public/images/ab3.jpg" class="d-block mx-auto my-3"/>
  </body>
</html>
